---
const sections = [1, 2, 3, 4, 5, 6, 7];
---

<style>
    main {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 1rem;
        column-gap: var(--line-thickness);
        max-width: 960px;
        margin-inline: auto;
        padding-inline: var(--line-thickness);
        position: relative;

        background-image: linear-gradient(90deg,
            var(--line1-color) 0,
            var(--line1-color) calc(100% / 3),
            var(--line2-color) calc(100% / 3),
            var(--line2-color) calc(200% / 3),
            var(--line3-color) calc(200% / 3),
            var(--line3-color) 100%
        );
        background-size: calc(var(--line-thickness) * 3);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: calc(var(--line-thickness) * 5);
    }

    section {
        min-height: 200px;
        padding: 1rem;
        position: relative;
        border-top-style: solid;
        border-top-width: var(--line-thickness);
        border-top-right-radius: calc(var(--line-thickness) * 2);
        border-right-style: solid;
        border-right-width: var(--line-thickness);
    }

    section:nth-child(2n+1) {
        border-color: var(--line1-color);
        margin-right: calc(var(--line-thickness) * 1);
    }

    section:nth-child(2n) {
        border-color: var(--line3-color);
        margin-right: calc(var(--line-thickness) * -1);
    }

    section:before {
        content: '';
        position: absolute;
        bottom: 100%;
        display: block;
        aspect-ratio: 1;
        width: var(--line-thickness);
        background: black;
        border-radius: 100vw;
        border-style: solid;
        border-width: 3px;
        border-color: inherit;
        right: calc(100% - (var(--line-thickness) / 2));
    }

    @media (min-width: 900px) {
        main {
            background-position-x: center;
            flex-flow: column wrap;
            
            /** For dev purposes, needs to be determined by the JS below */
            height: 860px;
        }

        section {
            width: calc(50% - (var(--line-thickness) / 2));
        }

        section:nth-child(2n+1) {
            order: 1;
            margin-right: 0;
        }

        section:nth-child(2n) {
            order: 2;
            margin-right: 0;
            border-right: none;
            border-top-right-radius: 0;
            border-left: var(--line-thickness) solid var(--line3-color);
            border-top-left-radius: calc(var(--line-thickness) * 2);
        }

        section:nth-child(2n):before {
            left: calc(100% - (var(--line-thickness) / 2));
            border-color: var(--line3-color);
        }

        section:nth-child(2) { 
            margin-block-start: calc(var(--line-thickness) * 3);
        }
    }

</style>

<main>
    { sections.map((content) => (
        <section>
            { content }
        </section>
    )) }
</main>

<script>
    const $main = document.querySelector('main') as HTMLElement;
    const { children } = $main;

    function mainSize() {
        // Bail if not meant for two columns
        if (window.innerWidth < 900) return;

        const avgSectionHeight = [...children].reduce((sum, $elem) => sum + $elem.clientHeight, 0) / children.length;

        const againstEdge = [...children].every(($child, i) => {
            if (i % 2 !== 0) return true;
            return $child.offsetLeft === 0;
        });

        if (!againstEdge) {
            $main.style.height = ($main.clientHeight + avgSectionHeight) + 'px';
        } else {
            const height = [...children].reduce((lowest, $child) => {
                const bottom = $child.offsetTop + $child.offsetHeight;
                return bottom > lowest ? bottom : lowest;
            }, 0);
            $main.style.height = Math.ceil(height + 16) + 'px';
        }
    }

    // new ResizeObserver(mainSize).observe($main);
</script>